body {
  text-align: center;
  background-color: darkslategray;
}

.card {
  display:  inline-block;
  float: left;
  margin: 4px;
  background: lightgrey;
  width: 30%;
  word-wrap: break-word;
}

.selected {
  border-width: 8px !important;
  background-color: limegreen;
  word-wrap: break-word;
}
